p {
  font-family: serif;
  color: red;
}
ul {
  color: green;
  font-size: 16px;
}
ol {
  color: yellow;
   letter-spacing: 2px;
}
h1 {
  color: black;
  font-family: cursive;
}
header {
  color: black;
  font-size: 18px;
}
body {
  {
  font-family: Helvetica;
  color: black;
}
foot {
  color: blue;
  font-family: serif;
  
